---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { SITE_TITLE } from "../config";
---

<PageLayout>
  <PageMeta title={`Team | ${SITE_TITLE}`} slot="meta" />
    <section slot="main">
      
      <div class="py-20">
        <div class="xl:container mx-auto px-6 md:px-12">
          <div class="mb-16 md:w-full">
            <h2 class="mb-4 text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
              Tailus blocks leadership
            </h2>
            <p class="text-gray-600 dark:text-gray-300">
              Tailus prides itself not only on award-winning technology, but also on the talent of its
              people of some of the brightest minds and most experienced executives in business.
            </p>
          </div>
          <div class="grid gap-6 px-4 sm:px-0 sm:grid-cols-2 md:grid-cols-2">
            <div class="group relative rounded-3xl  space-y-6 overflow-hidden">
              <img
                class="mx-auto h-[26rem] w-full grayscale object-cover object-top ransition duration-500 group-hover:scale-105 group-hover:grayscale-0"
                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80"
                alt="woman"
                loading="lazy"
                width="640"
                height="805"
              />
              <div class="absolute bottom-0 inset-x-0 h-max mt-auto px-8 py-6 bg-gray-800 dark:bg-white translate-y-24 transition duration-300 ease-in-out group-hover:translate-y-0">
                <div>
                  <h4 class="text-xl font-semibold dark:text-gray-700 text-white">Hentoni Doe</h4>
                  <span class="block text-sm text-gray-500">CEO-Founder</span>
                </div>
                <p class="mt-8 text-gray-300 dark:text-gray-600">Quae labore quia tempora dolor impedit. Possimus, sint ducimus ipsam?</p>
              </div>
              
            </div>
            <div class="group relative rounded-3xl  space-y-6 overflow-hidden">
              <img
                class="mx-auto h-[26rem] w-full grayscale object-cover object-top ransition duration-500 group-hover:scale-105 group-hover:grayscale-0"
                src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                alt="woman"
                loading="lazy"
                width="640"
                height="805"
              />
              <div class="absolute bottom-0 inset-x-0 h-max mt-auto px-8 py-6 bg-gray-800 dark:bg-white translate-y-24 transition duration-300 ease-in-out group-hover:translate-y-0">
                <div>
                  <h4 class="text-xl font-semibold dark:text-gray-700 text-white">Hentoni Doe</h4>
                  <span class="block text-sm text-gray-500">CEO-Founder</span>
                </div>
                <p class="mt-8 text-gray-300 dark:text-gray-600">Quae labore quia tempora dolor impedit. Possimus, sint ducimus ipsam?</p>
              </div>
              
            </div>
            <div class="group relative rounded-3xl  space-y-6 overflow-hidden">
              <img
                class="mx-auto h-[26rem] w-full grayscale object-cover object-top transition duration-500 group-hover:scale-105 group-hover:grayscale-0"
                src="https://images.unsplash.com/photo-1605637465697-1c5ab764ce29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
                alt="woman"
                loading="lazy"
                width="640"
                height="805"
              />
              <div class="absolute bottom-0 inset-x-0 h-max mt-auto px-8 py-6 bg-gray-800 dark:bg-white translate-y-24 transition duration-300 ease-in-out group-hover:translate-y-0">
                <div>
                  <h4 class="text-xl font-semibold dark:text-gray-700 text-white">Hentoni Doe</h4>
                  <span class="block text-sm text-gray-500">CEO-Founder</span>
                </div>
                <p class="mt-8 text-gray-300 dark:text-gray-600">Quae labore quia tempora dolor impedit. Possimus, sint ducimus ipsam?</p>
              </div>
              
            </div>
            <div class="group relative rounded-3xl  space-y-6 overflow-hidden">
              <img
                class="mx-auto h-[26rem] w-full grayscale object-cover object-top ransition duration-500 group-hover:scale-105 group-hover:grayscale-0"
                src="https://images.unsplash.com/photo-1536766768598-e09213fdcf22?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80"
                alt="woman"
                loading="lazy"
                width="640"
                height="805"
              />
              <div class="absolute bottom-0 inset-x-0 h-max mt-auto px-8 py-6 bg-gray-800 dark:bg-white translate-y-24 transition duration-300 ease-in-out group-hover:translate-y-0">
                <div>
                  <h4 class="text-xl font-semibold dark:text-gray-700 text-white">Hentoni Doe</h4>
                  <span class="block text-sm text-gray-500">CEO-Founder</span>
                </div>
                <p class="mt-8 text-gray-300 dark:text-gray-600">Quae labore quia tempora dolor impedit. Possimus, sint ducimus ipsam?</p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
                                          
    </section>
</PageLayout>
